article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: #5b5b5b;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 2%;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.6rem;
}

p,
ul,
ol {
    margin-top: 0;
    padding: 2%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url(../img/img05.jpg) repeat;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Media Queries - 320 pixel */
@media (min-width: 320px) {

    /* Header */
    #header {
        width: 100%;
        margin: 0 auto;
        padding: 0 0;
    }

    /* Logo */
    #logo {
        margin: 0;
        padding: 0;
        color: #ffffff;
    }

    #logo h1 {
        letter-spacing: -2%;
        font-size: 3.5rem;
    }

    #logo h1 a {
        color: #1f1f1f;
        text-shadow: 1 1 0 rgba (0, 0, 0, 0.2);
    }

    #logo p {
        margin: 0;
        padding: 0 0 0 0;
        letter-spacing: -1px;
        font: normal 3rem Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        color: #8e8e8e;
    }

    #logo p a {
        color: #8e8e8e;
    }

    #logo a {
        border: none;
        background: none;
        text-decoration: none;
        color: #000000;
    }

    #banner {
        margin: 0 auto;
        width: 100%;
        background: url(../img/img03.png) no-repeat left bottom;
    }

    #banner img {
        width: 100%;
    }

    #menu {
        margin: 0 auto;
        padding: 0 0 5% 0;
    }

    #menu ul {
        margin: 0;
        padding: 5% 0 0 0;
        list-style: none;
        line-height: normal;
    }

    #menu a {
        display: block;
        margin-right: 1%;
        padding: 5% 10% 5% 10%;
        text-decoration: none;
        text-align: center;
        text-shadow: 1 1 0 rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #1f1f1f;
        border: none;
    }

    #menu a:hover,
    #menu .current_page_item a {
        background: url(../img/img01.jpg) repeat;
        text-decoration: none;
        color: #ffffff;
    }

    /* Page */
    #page {
        width: 90%;
        margin: 0 auto;
        padding: 0.3% 0;
    }

    /* Content */
    #content {
        padding: 0 0 0 0;
    }

    .post {
        overflow: hidden;
        margin-bottom: 4%;
        border-bottom: 0.1% solid #e7ebed;
    }

    .post .title {
        padding: 0.7% 0 0 0;
        letter-spacing: -1px;
    }

    .post .title a {
        border: none;
        text-decoration: none;
        color: #222222;
    }

    .post .meta {
        margin-bottom: 3%;
        padding: 5% 0 0 0;
        text-align: left;
        font-family: 'Abel', sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }

    .post .meta .date {
        float: left;
    }

    .post .meta .posted {
        float: right;
    }

    .post .entry {
        padding: 0 0 10% 0;
        text-align: justify;
    }

    .links {
        padding-top: 4%;
        margin-bottom: 6%;
    }

    .more {
        display: block;
        float: left;
        width: 16%;
        padding: 1% 1%;
        margin-right: 5%;
        background: #222222;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

    .comments {
        display: block;
        float: left;
        width: 16%;
        padding: 1% 1%;
        background: #222222;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

    /* Sidebar */
    #sidebar {
        margin: 0;
        padding: 3% 0 0 0;
    }

    #sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #sidebar li {
        margin: 0;
        padding: 0;
    }

    #sidebar li ul {
        margin: 0 0;
        padding-bottom: 18.75%;
    }

    #sidebar li li {
        line-height: 250%;
        border-bottom: 1px solid #e7ebed;
        margin: 0 0;
        border-left: none;
    }

    #sidebar li li span {
        display: block;
        margin-top: 12.5%;
        padding: 0;
        font-size: 0.7rem;
        font-style: italic;
    }

    #sidebar li li a {
        padding: 0 0 0 20px;
        background: url(../img/img04.jpg) no-repeat left 50%;
    }

    #sidebar h2 {
        height: 23.75%;
        padding: 0 0 12% 0;
        letter-spacing: -0.5px;
        font-size: 1.8em;
        color: #222222;
    }

    #sidebar p {
        margin: 0 0;
        padding: 0 15% 10% 15%;
        text-align: justify;
    }

    #sidebar a {
        border: none;
    }

    #sidebar a:hover {
        text-decoration: underline;
    }

    /* Footer */
    #footer {
        margin: 0 auto;
        padding: 5% 0 10% 0;
        font-family: 'Abel', sans-serif;
    }

    #footer p {
        margin: 0;
        padding-top: 2.5%;
        letter-spacing: 1px;
        line-height: normal;
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        color: #5e5e5e;
    }

    #footer a {
        color: #5e5e5e;
    }
}

/* Media Queries - 800 pixel */
@media (min-width: 800px) {

    /* Header */
    #header {
        width: 100%;
        margin: 0 auto;
        padding: 0 0;
    }

    /* Logo */
    #logo {
        float: left;
        width: 30%;
    }

    #logo h1 {
        line-height: 120px;
    }

    /* Menu */
    #menu {
        float: right;
        width: 50%;
        height: 90px;
        margin: 0 auto;
        padding: 0;
    }

    #menu ul {
        float: right;
        margin: 0;
        padding: 5% 0 0 0;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        float: left;
    }

    #menu a {
        display: block;
        line-height: 100px;
        margin-right: 1%;
        padding: 0 20px 0 20px;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: #1f1f1f;
        border: none;
    }

    #menu a:hover,
    #menu .current_page_item a {
        background: url(../img/img01.jpg) repeat;
        text-decoration: none;
        color: #ffffff;
    }

    /* Content */
    #content {
        float: right;
        width: 65%;
        padding: 0 0 0 0;
    }

    .post {
        overflow: hidden;
        margin-bottom: 4%;
        border-bottom: 0.1% solid #e7ebed;
    }

    .post .title {
        padding: 0.7% 0 0 0;
        letter-spacing: -1px;
    }

    .post .title a {
        border: none;
        text-decoration: none;
        color: #222222;
    }

    .post .meta {
        margin-bottom: 3%;
        padding: 5% 0 0 0;
        text-align: left;
        font-family: 'Abel', sans-serif;
        font-size: 1rem;
        font-weight: 300;
    }

    .post .meta .date {
        float: left;
    }

    .post .meta .posted {
        float: right;
    }

    .post .entry {
        padding: 0 0 10% 0;
        text-align: justify;
    }

    .links {
        padding-top: 4%;
        margin-bottom: 6%;
    }

    .more {
        display: block;
        float: left;
        width: 14%;
        padding: 1% 1%;
        margin-right: 5%;
        background: #222222;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

    .comments {
        display: block;
        float: left;
        width: 14%;
        padding: 1% 1%;
        background: #222222;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
    }

    /* Sidebar */
    #sidebar {
        float: left;
    }


}
